.footer{
    padding: 30px 50px 30px 50px;
    text-align: right;
    background: #333;
    color: #fff;
}

.author, .copyright{
    margin: 0;
}

.author{
    text-decoration: none;
    color: #fff;
}

.container{
    display: flex;
    justify-content: space-between;
    max-width: 900px;
    margin: auto;
}